:root {
    --accent: #0fb;
    --background: #313131;
    --betterWhite: #bdbdbd;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: 400;
    line-height: 55px;
    margin: 0;
}

.accent-text{
    color: var(--background);
    background: white;
    line-height: 50px;
    font-weight: 600;
}

.comment{
    color: var(--betterWhite);
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
}